/* Body */

body {
    background-color:#fff8dc !important;
}

/*omasivu*/
#omasivu {
  display: flex;
  flex-wrap: wrap;
}

#kuvatt {
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (max-width: 1000px) {
	.alalajit {
		width: 100% !important;
	}
}
/* Nav bar */

.navbar {
    background-color: #232528 ;
    padding: .8rem;
}
.navbar-brand {
    background: #fff8dc ;
    border-radius: 30px;
    padding: 10px;
}

/* Carousel */

.carousel-inner img {
    width: 100%;
    height: 100%;
}


.col-md-6, .col-lg-3 {
    background-color:#fff8dc;
    border-radius: 10px;
    color: #232528 ;
    margin-bottom: 30px;
}

#form {
		display: flex;
		flex-wrap: wrap;
}
.formi{
  width: 70%;
}

.sivupalkki{
  margin: 30px;
  width: 20%;
}

@media only screen and (max-width: 1000px) {
	
	.sivupalkki, .formi {
		width: 100%;
	}
}


/* Fontit */

h1, h2, h3, h4, h5 {
    font-family: poppins !important;
    font-weight: 500 !important;
}

div, p {
    font-family: 'PT Serif' !important;
    font-weight: 400 !important;
}

.nav-link {
    font-family: poppins;
    font-weight: 500;
}

.col-12 {
    padding: 20px !important;
}

/* tietoa meistä osia*/

.col-lg-6 {
    padding: 20px !important;
}


.display-4 {
    padding-top: 20px;
}

.mask {
    width: 100%;    
    height: 100%;
}

/* Footer */

footer {
    background: #232528 ;
    height: auto;
    width: 100vw;
    font-family: 'PT Serif';
    padding-top: 10px;
    color:	#fff8dc ;
    position: absolute;
}
.footer {
    position: absolute !important;
    bottom: 0;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
    margin-bottom: 0 !important;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    font-weight: 400;

}
.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.socials li {
    margin: 0 5px;
}
ul {
    padding-inline-start: 0px !important;
}

.socials a{
    text-decoration: none;
    color: 	#fff8dc;
}
.socials a:hover i {
    color: black ;
    transition: 1s;
    transform: rotateY(360deg);
}


.footer-bottom{
    width: 100vw;
    text-align: center;  
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}


/* Tietoa sivu */

.gray-bg {
    background-color: #faf2d493;
}

.article {
    background-color: #faf2d493 !important;
    box-shadow: 0 0 30px rgba(31, 45, 61, 0.5) !important;
}
    
/* Blog 
---------------------*/
.blog-grid {
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.5);
  border-radius: 5px;
  overflow: hidden;
  background:#faf2d493;
  margin-top: 15px;
  margin-bottom: 15px;
}
.blog-grid .blog-img {
  position: relative;
}
.blog-grid .blog-img .date {
  position: absolute;
  background: #faf2d493;
  color: #faf2d493;
  padding: 8px 15px;
  left: 10px;
  top: 10px;
  border-radius: 4px;
}
.blog-grid .blog-img .date span {
  font-size: 22px;
  display: block;
  line-height: 22px;
  font-weight: 700;
}
.blog-grid .blog-img .date label {
  font-size: 14px;
  margin: 0;
}
.blog-grid .blog-info {
  padding: 20px;
}
.blog-grid .blog-info h5 {
  font-size: 22px;
  font-weight: 700;
  margin: 0 0 10px;
}
.blog-grid .blog-info h5 a {
  color: #232528;
}
.blog-grid .blog-info p {
  margin: 0;
}
.blog-grid .blog-info .btn-bar {
  margin-top: 20px;
}


/* Blog Sidebar
-------------------*/
.blog-aside .widget {
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.5);
  border-radius: 5px;
  overflow: hidden;
  background: #faf2d493;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  display: inline-block;
  vertical-align: top;
}
.blog-aside .widget-body {
  padding: 15px;
}
.blog-aside .widget-title {
  padding: 15px;
  border-bottom: 1px solid #eee;
}
.blog-aside .widget-title h3 {
  font-size: 20px;
  font-weight: 700;
  color: #232528;
  margin: 0;
}
.blog-aside .widget-author .media {
  margin-bottom: 15px;
}
.blog-aside .widget-author p {
  font-size: 16px;
  margin: 0;
}
.blog-aside .widget-author .avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}
.blog-aside .widget-author h6 {
  font-weight: 600;
  color: #232528;
  font-size: 22px;
  margin: 0;
  padding-left: 20px;
}
.blog-aside .post-aside {
  margin-bottom: 15px;
}
.blog-aside .post-aside .post-aside-title h5 {
  margin: 0;
}
.blog-aside .post-aside .post-aside-title a {
  font-size: 18px;
  color: #232528;
  font-weight: 600;
}
.blog-aside .post-aside .post-aside-meta {
  padding-bottom: 10px;
}
.blog-aside .post-aside .post-aside-meta a {
  color: #6F8BA4;
  font-size: 12px;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 10px;
}
.blog-aside .latest-post-aside + .latest-post-aside {
  border-top: 1px solid #eee;
  padding-top: 15px;
  margin-top: 15px;
}
.blog-aside .latest-post-aside .lpa-right {
  width: 90px;
}
.blog-aside .latest-post-aside .lpa-right img {
  border-radius: 3px;
}
.blog-aside .latest-post-aside .lpa-left {
  padding-right: 15px;
}
.blog-aside .latest-post-aside .lpa-title h5 {
  margin: 0;
  font-size: 15px;
}
.blog-aside .latest-post-aside .lpa-title a {
  color: #232528;
  font-weight: 600;
}
.blog-aside .latest-post-aside .lpa-meta a {
  color: #6F8BA4;
  font-size: 12px;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 10px;
}

.tag-cloud a {
  padding: 4px 15px;
  font-size: 13px;
  color: #ffffff;
  background: #232528;
  border-radius: 3px;
  margin-right: 4px;
  margin-bottom: 4px;
}
.tag-cloud a:hover {
  background: #232528;
}

.blog-single {
  padding-top: 30px;
  padding-bottom: 30px;
}

.article {
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
  border-radius: 5px;
  overflow: hidden;
  background: #ffffff;
  padding: 15px;
  margin: 15px 0 30px;
}
.article .article-title {
  padding: 15px 0 20px;
}
.article .article-title h6 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 20px;
}
.article .article-title h6 a {
  text-transform: uppercase;
  color: #232528;
  border-bottom: 1px solid #232528;
}
.article .article-title h2 {
  color: #232528;
  font-weight: 600;
}
.article .article-title .media {
  padding-top: 15px;
  border-bottom: 1px dashed #ddd;
  padding-bottom: 20px;
}
.article .article-title .media .avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
}
.article .article-title .media .media-body {
  padding-left: 8px;
}
.article .article-title .media .media-body label {
  font-weight: 600;
  color: #232528;
  margin: 0;
}
.article .article-title .media .media-body span {
  display: block;
  font-size: 12px;
}
.article .article-content h1,
.article .article-content h2,
.article .article-content h3,
.article .article-content h4,
.article .article-content h5,
.article .article-content h6 {
  color: #232528;
  font-weight: 600;
  margin-bottom: 15px;
}
.article .article-content blockquote {
  max-width: 600px;
  padding: 15px 0 30px 0;
  margin: 0;
}
.article .article-content blockquote p {
  font-size: 20px;
  font-weight: 500;
  color: #232528;
  margin: 0;
}
.article .article-content blockquote .blockquote-footer {
  color: #232528;
  font-size: 16px;
}
.article .article-content blockquote .blockquote-footer cite {
  font-weight: 600;
}
.article .tag-cloud {
  padding-top: 10px;
}

.article-comment {
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
  border-radius: 5px;
  overflow: hidden;
  background: #ffffff;
  padding: 20px;
}
.article-comment h4 {
  color: #232528;
  font-weight: 700;
  margin-bottom: 25px;
  font-size: 22px;
}
img {
    max-width: 100%;
}
img {
    vertical-align: middle;
    border-style: none;
}


/* tuotteet */

.card {
    background-color: #232528 !important;
}


